# ---------------------------------------------------------------
# Unreal Engine
# ---------------------------------------------------------------
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Content/ NÃO entra aqui — os assets são versionados, via LFS.

# Projetos de IDE gerados
*.sln
*.xcodeproj/
*.xcworkspace/
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.suo
.vs/

# Editores
.idea/
.vscode/

# macOS
.DS_Store
