<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>arrow-left.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{225,180}}</string>
        <key>offset</key>
        <string>{0,-9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,32},{225,180}}</string>
        <key>sourceSize</key>
        <string>{225,225}</string>
      </dict>
      <key>arrow-down.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{178,225}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{24,0},{178,225}}</string>
        <key>sourceSize</key>
        <string>{225,225}</string>
      </dict>
      <key>arrow-right.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{225,178}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,24},{225,178}}</string>
        <key>sourceSize</key>
        <string>{225,225}</string>
      </dict>
      <key>arrow-up.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,0},{174,225}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{174,225}}</string>
        <key>sourceSize</key>
        <string>{176,226}</string>
      </dict>
      <key>arrow-left-up.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{212,212}}</string>
        <key>offset</key>
        <string>{4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,12},{212,212}}</string>
        <key>sourceSize</key>
        <string>{225,225}</string>
      </dict>
      <key>arrow-left-down.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,174},{210,210}}</string>
        <key>offset</key>
        <string>{2.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,3},{210,210}}</string>
        <key>sourceSize</key>
        <string>{225,225}</string>
      </dict>
      <key>arrow-right-down.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,178},{210,210}}</string>
        <key>offset</key>
        <string>{-5.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,4},{210,210}}</string>
        <key>sourceSize</key>
        <string>{225,225}</string>
      </dict>
      <key>arrow-right-up.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{208,200}}</string>
        <key>offset</key>
        <string>{-2,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,23},{208,200}}</string>
        <key>sourceSize</key>
        <string>{220,223}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>arrows.png</string>
      <key>size</key>
      <string>{1112,388}</string>
      <key>textureFileName</key>
      <string>arrows</string>
    </dict>
  </dict>
</plist>
